@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-950 text-white font-sans overflow-x-hidden;
  }
}

html {
  scroll-behavior: smooth;
}